In [1]:
import pandas as pd
import matplotlib as plt
from sklearn.ensemble import RandomForestRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error

In [2]:
path = "D:\Work\AI club Project\Presentation\Stock_price\Tesla.csv - Tesla.csv.csv"
dataset = pd.read_csv(path)

In [3]:
data_frame = pd.DataFrame(dataset)

In [4]:
data_frame

,Date,Open,High,Low,Close,Volume,Adj Close
0,6/29/2010,19.000000,25.000000,17.540001,23.889999,18766300,23.889999
1,6/30/2010,25.790001,30.420000,23.299999,23.830000,17187100,23.830000
2,7/1/2010,25.000000,25.920000,20.270000,21.959999,8218800,21.959999
3,7/2/2010,23.000000,23.100000,18.709999,19.200001,5139800,19.200001
4,7/6/2010,20.000000,20.000000,15.830000,16.110001,6866900,16.110001
...,...,...,...,...,...,...,...
1687,3/13/2017,244.820007,246.850006,242.779999,246.169998,3010700,246.169998
1688,3/14/2017,246.110001,258.119995,246.020004,258.000000,7575500,258.000000
1689,3/15/2017,257.000000,261.000000,254.270004,255.729996,4816600,255.729996
1690,3/16/2017,262.399994,265.750000,259.059998,262.049988,7100400,262.049988
1691,3/17/2017,264.000000,265.329987,261.200012,261.500000,6475900,261.500000

In [5]:
features = ['Open','High','Low','Close','Volume']
target = ['Adj Close']

In [6]:
X = data_frame[features]
y = data_frame[target]

In [7]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.25,random_state = 0)

In [8]:
model = RandomForestRegressor(random_state = 0,n_estimators=55)
model.fit(X_train,y_train)
prediction = model.predict(X_test)
MAE = mean_absolute_error(y_test,prediction)

C:\Users\Dell\AppData\Local\Temp\ipykernel_25928\1666013481.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  model.fit(X_train,y_train)

In [9]:
model2 = DecisionTreeRegressor(random_state = 0)
model2.fit(X_train,y_train)
prediction_2 = model2.predict(X_test)
MAE_2 = mean_absolute_error(y_test,prediction)

In [10]:
MAE

0.19014557107242447

In [11]:
MAE_2

0.19014557107242447